<div class="row">
  <div class="col-xs-12">
    <app-cockpit
      (serverCreated)="onServerAdded($event)"
      (blueprintCreated)="onBlueprintAdded($event)"
    ></app-cockpit>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-server-element *ngFor="let serverElement of serverElements; let i = index"
    [element]="serverElement"
    [serverCnt] = "i+ ' countIs'"
    >
      <p #contentParagraph>
        <strong *ngIf="serverElement.type === 'server'" style="color:red;">{{serverElement.content}}</strong>
        <em *ngIf="serverElement.type === 'blueprint'">{{serverElement.content}}</em>
      </p>
      <p>Server Count is {{i}}</p>
    </app-server-element>
  </div>
</div>
